.container-clothes4 {
  margin: 0 auto;
  padding: 130px 200px 175px 210px;

  .content-last {
  	display: flex;

  	.information-last {


  	  h1 {
  	  	width: 330px;
  	  	margin-top: 11%;
        margin-bottom: 13%;
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
  	  }

  	  p {
        margin-top: 4%;
        width: 100%;
        max-width: 480px;
        margin-bottom: 10%;
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 35px;
  	  }

  	  .button {
  	  	width: 100%;
        max-width: 300px;
        height: 67px;

        .button2 {
          width: 100%;
          max-width: 300px;
          height: 67px;
          color: $black;
          background: $white;
          border: 1px solid $gray;
          cursor: pointer;
          overflow: hidden;
          font-family: 'Crimson Text';
          font-weight: 400;
          font-size: 17px;
          line-height: 22px;
        }
  	  }

  	  .photo-last2 {
        padding-top: 200px;
        max-width: 512px;

        img {
          width: 100%;
        }
  	  }
  	}

  	.photo-last {
  	  width: 100%;
  	  max-width: 540px;
      margin-left: 200px;

  	  img {
  	  	width: 100%;
  	  }
  	}
  }
}