body {
  font-family: 'Shippori Antique', sans-serif;
  margin: 0;
  font-size: 1em;
  line-height: 135%;
}

body._lock {
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

main {
  max-width: 1120px;
  margin: 0 auto;
  width: 90%;

  @media (min-width: 375px) and (max-width: 765px) {
    width: 95%;
  }
}
