$white: #ffffff;
$gray: #a4a4a4;
$pink: #EC103D;
$blue: #193781;
$light-blue: #1E4BAB;
$dark-blue: #103176;
$light-gray: #eaf2fb;
$dark-pink: #C62828;
$black: #000000;
$very-dark-pink: #641E16;
$very-dark-blue: #0B1A4B;
$dark-gray: #262626;