body {
  margin: 0;
  display: block;
  font-family: 'Crimson Text';
  line-height: 135%;
  width: 100%;
  max-width: 1600px;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}