header {
  display: block;
  width: 100%;
  background: $white;
  box-sizing: border-box;

  .container-header {
    display: flex;
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px 20px 30px;

    @media (min-width: 375px) and (max-width: 1025px) {
      width: 100%;
      max-width: 1025px;
      margin: 0 auto;
      padding: 20px 30px 20px 70px;
      position: fixed;
      top: 0;
      z-index: 1000;
      background: $white;
    }

    .navbar {
      display: none;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: block;
        position: absolute;
        top: 30px;
        left: 10px;
        width: 30px;
        background: $white;
        border-radius: 2px;
        padding: 0 5px;
        overflow: hidden;
        transform: translateY(-50%);
        z-index: 10;
      }

      span {
        display: block;
        height: 2px;
        margin: 6px 0;
        position: relative;
        transform: rotate(0);
        top: 0;
        left: 0;
        opacity: 1;
        background: #334750;
        transition: none .5s ease;
        transition-property: transform,top,left,opacity;
      }
    }

    .navbar::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      background-color: $white;
    }

    .menu_body {
      display: none;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 1025px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 5;
        transition: left 0.3s ease 0s;
        overflow: auto;
      }

      .header-menu {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0;

        li {
          display: block;
          max-width: 400px;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          line-height: 2;

          .btn {
            font-size: 50px;
            font-weight: 500;
            color: $white;
            text-decoration: none;
          }
        }
      }
    }

    .active {
      left: 0;
    }

    .dropdown-menu {
      display: flex;
      align-items: center;
      height: 25px;
      padding-left: 0;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: none;
      }
      
      li {
        list-style: none;

        a {
          width: 26px;
          height: 17px;
          left: 180px;
          top: 41px;
          text-decoration: none;
          color: $black;
        }
      }

      .arrow-down {
        display: flex;
        padding: 0 15px;
        cursor: pointer;

        .btn {
          color: $black;
        }
      }

      .menu-language {
        position: relative;
        display: block;
      }
    }

    .media-icon {
      display: flex;
      max-width: 175px;
      width: 90%;
      height: 50px;
      margin: 0 auto;
      margin-top: 15px;
      color: $gray;
      cursor: pointer;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: none;
      }

      .back {
        font-size: 16px;
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 30px;

        .fab {
          color: $gray;
          padding: 0 6px;
          margin-top: 5px;
          width: 12%;
          font-size: 20px;

          &:hover {
            color: $black;
          }
        }
      }
    }

    .logo {
      margin: 0 auto;
      margin-top: 10px;
      align-items: center;
      width: 90%;
      max-width: 470px;
      height: 40px;

      @media (min-width: 375px) and (max-width: 1025px) {
        max-width: 290px;
      }

      @media (min-width: 375px) and (max-width: 450px) {
        width: 190px;
        height: 15px;
      }

      a {

        img {
          width: 470px;
          height: 40px;

          @media (min-width: 375px) and (max-width: 1025px) {
            width: 290px;
            height: 25px;
          }

          @media (min-width: 375px) and (max-width: 450px) {
            width: 190px;
            height: 15px;
          }
        }
      }
    }

    .currency {
      display: flex;
      margin: 0 auto;
      align-items: center;
      height: 60px;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: none;
      }

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding-left: 5px;
      }

      .arrow-up {
        margin-bottom: 6px;
        padding-right: 10px;
        padding-left: 10px;

        .fas {
          font-size: 13px;
          color: $green;
        }
      }

      .arrow-down2 {
        margin-bottom: 6px;
        padding-right: 10px;
        padding-left: 10px;

        .fa-solid {
          font-size: 13px;
          color: $red;
        }
      }
    }

    .sun {
      height: 30px;
      border-left: 1px solid $gray;
      display: flex;
      margin: 0 auto;
      align-items: center;
      margin-top: 15px;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: none;
      }

      .far {
        font-size: 20px;
        color: $burgundy;
        padding: 0 6px;
        padding-left: 30px;
      }

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
      }
    }

    .rus {
      display: none;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: block;
      }

      .ru {
        display: none;

        @media (min-width: 375px) and (max-width: 1025px) {
          display: block;
          width: 100%;
          max-width: 50px;
          font-size: 1.7em;
          line-height: 22px;
          margin: 0;
          padding: 0;
          list-style-type: none;
        }

        li {

          a {
            
            @media (min-width: 375px) and (max-width: 1025px) {
              display: block;
              padding-right: 4px;
              padding-left: 4px;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .search {
      display: none;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: block;
        max-width: 35px;
        width: 80%;
        font-size: 25px;
        padding-left: 1%;
      }

      .button {

        @media (min-width: 375px) and (max-width: 1025px) {
          text-decoration: none;
        }

        .fas {
          display: none;

          @media (min-width: 375px) and (max-width: 1025px) {
            display: block;
            color: $blue;
            width: 30px;
            height: 20px;
          }
        }
      }
    }
  }

  .container-menu {
    width: 100%;
    background: $blue; 
    display: block;

    @media (min-width: 375px) and (max-width: 1025px) {
      width: 95%;
      margin: 0 15px;
      margin-top: 10%;
    }

    .menu-information {
      display: none;

      @media (min-width: 765px) and (max-width: 1025px) {
        display: flex;
        width: 100%;
        max-width: 1025px;
        margin: 0 auto;
        padding-left: 1%;
      }

      @media (min-width: 375px) and (max-width: 765px) {
        display: block;
        width: 100%;
        max-width: 765px;
        padding-left: 15px;
        margin: 0;
      }

      li {

        @media (min-width: 765px) and (max-width: 1025px) {
          width: 50%;
          display: flex;
        }

        @media (min-width: 375px) and (max-width: 765px) {
          display: flex;
          width: 90%;
        }

        .circle {

          @media (min-width: 375px) and (max-width: 1025px) {
            display: block;
            background: $burgundy;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-top: 7%;
          }
        }

        a {
        
          @media (min-width: 375px) and (max-width: 1025px) {
            text-decoration: none;
            color: $white;
            max-width: 400px;
            font-weight: 600;
            font-size: 16px;
            line-height: 17px;
            padding: 20px 5px;
            transition: all 0.2s ease-out;

            &:hover {
              color: $burgundy;
            }
          }
        }
      }
    }

    .header-menu {
      display: flex;
      max-width: 1170px;
      width: 90%;
      height: 90px;
      padding: 0 30px;
      align-items: center;
      margin: 0 auto;
      margin-left: auto;
      list-style-type: none;

      @media (min-width: 375px) and (max-width: 1025px) {
        display: none;
      }

      li {
        width: 80%;
        max-width: 97px;
        padding: 0 3px;
        text-align: center;

        .btn {
          max-width: 110px;
          width: 90%;
          height: 100%;
          text-align: center;
          color: $white;
          text-decoration: none;
          padding: 34px 5px;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          text-transform: uppercase;
          transition: all 0.3s ease-out;

          &:hover {
            background: $burgundy;
          }
        }
      }

      .search {
        max-width: 35px;
        width: 80%;
        margin: 0 auto;
        font-size: 20px;

        .button {
          .fas {
            color: $white;
            width: 16px;
            height: 16px;
          }
          .search-input {
            display: none;
          }
        }
      }

      .information {
        width: 90%;
        height: 30px;
        max-width: 140px;
        display: block;
        color: $white;
        border-left: 1px solid $white;

        h4 {
          margin: 0;
          margin-left: 20px;
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: 13px;
        }

        p {
          margin-top: 3px;
          margin-left: 20px;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
}